.inputField {
  position: relative;

  > label {
    position: absolute;
    pointer-events: none;
  }

  > input {
    border: none;
    border-bottom: 1px solid #eeeeee;
    padding: 20px 0 5px 0;
    width: 100%;
    outline: none;
  }
}